
<section id ="product-list">
    <h1>product list</h1>
<div class="card-container">
    <div  *ngFor="let product of products" class="card">
        <h4 ><a href="#" [title]="product.name">{{product.name}}</a></h4> 
        <button class="btn-share" (click)="share()">share</button>
        <small *ngIf="product.description">
            {{product.description}}
        </small> 
        <app-product-alerts [product]="product"  (notify)="onNotify( product.id)">
        ></app-product-alerts>
    </div>
</div>
</section>

