body{
    margin: 0;
    top: 0;
    padding: 0;
}

app-root{
    margin: 0;
    pad: 0;
}

.btn-share, .btn-notify{
    border: 1px blue;
    background-color: brown;
    color: wheat;
    border-radius: 10px;
    padding: 4px;
    width: 100px;
}

